@charset "UTF-8";
/*
 Theme Name:   Neve Child
 Theme URI:    http://robbani.me/neve-child/
 Description:  Neve Child Theme
 Author:       Golam Robbani
 Author URI:   http://robbani.me
 Template:     neve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         blog, custom-logo, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready, wide-blocks, block-styles, footer-widgets, portfolio, left-sidebar, right-sidebar
 Text Domain:  neve
*/

/*==footer==*/
.footer-top-inner, .footer-top-inner.dark-mode, .footer-top-inner.light-mode {
    border-bottom: 1px solid #1a295a;
}
.nv-page-title-wrap.nv-big-title .nv-page-title {
    text-align: center !important;
}
.nv-page-title-wrap.nv-big-title .nv-page-title h1 {
    font-size: 28px;
    color: #ff0000;
}