   /*.neve-main > .archive-container .nv-child-sidebar {
            max-width: 24%!important;
        }*/

   .nv-child-sidebar.nv-left {
       padding-right: 0px;
       max-width: 22% !important;
   }

   .nv-child-sidebar.nv-right {
       padding-left: 25px;
       max-width: 18% !important;
   }

   .nv-child-index-posts {
       padding-left: 30px !important;
       padding-right: 30px !important;
   }

   .c-menu.c-arrow-dot1.c-theme {
       overflow: auto;
       padding-right: 15px;
   }

   .c-content-ver-nav .c-menu>li {
       list-style: none;
       padding: 7px 0;
       border-bottom: 1px solid #f2f2f2;
   }

   .c-content-title-1>.c-line-right,
   .c-content-title-1>.c-line-left {
       width: 30px;
       height: 3px;
       background-color: #32c5d2;
       margin: 0 0 15px 0;
   }

   .c-theme-bg {
       background-color: #32c5d2 !important;
   }


.neve-main > .single-post-container .nv-child-sidebar {
    max-width: 22%;
}
.nv-child-sidebar.nv-left {
    padding-right: 0px;
}

.nv-child-single-post-wrap {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.c-content-ver-nav .c-menu > li {
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #f2f2f2;
}

.c-content-title-1 > .c-line-right, .c-content-title-1 > .c-line-left {
    width: 30px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0 0 15px 0;
}


   @media only screen and (max-width: 991px) {
       .neve-main>.archive-container .nv-child-sidebar {
           max-width: 100%;
       }

       .nv-child-sidebar.nv-right {
           max-width: 100% !important;
       }

       .nv-child-sidebar.nv-left {
           max-width: 100% !important;
       }
   }
